# Python cache
__pycache__/
*.pyc

# Trained models
saved_models/
logs/
json_files/
checkpoints_v1_1/

# Notebook checkpoints
*.ipynb_checkpoints/

# Environment files (optional)
.env

# Specific files to ignore
notebooks/disgust_eda.ipynb
notebooks/merge_disgust.ipynb
data/raw/inference_test.txt

# Data uploads
*.csv
data/raw/*.csv
data/processed/*.csv
data/raw/*.ini
data/raw/*.json
data/raw/*.zip
data/raw/muhammadummarattique_data/
data/risk_labels/*.json
data/risk_labels/*.csv
data/lexicon/*.csv
data/lexicon/*.json

*.pt

